* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.cell {
    width: 50%;
    height: 100%;
    float: left;
}

.jser-test {
    width: 100%;
    height: 100%;
}