html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightslategrey;
}

.jser-test {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 2px inset;
}